@model GoldInventory.Models.ForgotPasswordModel

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Create User</h4>
        <hr/>
        <div class="panel-info">
            <p>Please submit the email associated to your account to change the password.</p>
            <div class="form-group">
                <label class="control-label col-md-2">Your Current Email</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default"/>
                </div>
            </div>
        </div>
        <p class="text-warning">@Model.Message</p>
    </div>
}
