@model GoldInventory.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password</h4>
    <div class="panel-info">
       @Model.Message
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}